.background{
    background-image: url(P4K1407-Edit.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat ;
    background-position: center;
    background-attachment: fixed;
   
    
}

.top{
    display: flex;
    flex-direction: row;
    color: white;
}.topNavigation{
    padding-top: 32px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: larger;
}
